@import url(../header/header.css);
@import url(../two-columns/two-columns.css);
@import url(../table/table.css);
@import url(../footer/footer.css);

* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}